@value --background from "./main.css";
@value --foreground from "./main.css";

@value --color0 from  "./main.css";
@value --color1 from  "./main.css";
@value --color2 from  "./main.css";
@value --color0 from  "./main.css";
@value --color4 from  "./main.css";
@value --color5 from  "./main.css";
@value --color6 from  "./main.css";
@value --color7 from  "./main.css";
@value --color8 from  "./main.css";
@value --color9 from  "./main.css";
@value --color10 from "./main.css";
@value --color11 from "./main.css";
@value --color12 from "./main.css";
@value --color13 from "./main.css";
@value --color14 from "./main.css";
@value --color15 from "./main.css";
@font-face { font-family: "Sarasa Gothic K"; src: url("./assets/sarasa-gothic-k-regular.ttf"); }
@font-face { font-family: "Sarasa Gothic K Bold"; src: url("./assets/sarasa-gothic-k-semibold.ttf"); }

html, body {
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--foreground);
	font-family: "Sarasa Gothic K";
}

* {
	cursor: normal;
	user-select: none;
}

h1 {
	margin: 0;
	font-family: "Sarasa Gothic K Bold";
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.term {
	width: 500px;
	padding: 16px;
	position: relative;
	border-radius: 8px;
	background-color: var(--color0);
}

.term::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color0);
	z-index: -2;
	border-radius: 8px;
}

h3 {
	font-size: 14px;
	font-family: "Sarasa Gothic K Bold"; 
	margin: 0 0 8px 0;
}

.columns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.columns .column {
	display: inline-block;
}

.columns .column * {
	display: block;
}

/* Id's */


a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: var(--foreground);
	position: relative;
	padding: 0;
	transition: padding .3s;
}

#searchbar {
	background-color: var(--color0);
        border-radius: 8px;
	color: var(--color7);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 0px;
	border: none;
	outline: none;
}	

a:hover {
	padding-left: 15px;
}

a::before {
	content: '🚀';
	position: absolute;
	left: -20px;
	opacity: 0;
	transform: scaleX(0);
	transition-property: left, transform, opacity;
	transition-duration: .3s;
}

a:hover::before {
	left: 0px;
	transform: scaleX(1);
	opacity: 1;
}
